html{
    height: 100%;
}
body{
    background: rgb(132, 190, 238);
    min-height:100%;
    margin:0;
    background-image:url('1.jpg') ;
    backdrop-filter: blur(2px); 
    background-size:cover ;
    background-position: center;
    background-repeat: repeat;
}
 

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

